@using System.Collections
@using Tweetinvi.Models






@*iterar el listado de personas*@


@foreach (var a in (IEnumerable<ITweet>)ViewBag.listatw)
    
   
{
    <div>
        <span>@a.CreatedBy (@a.FullText) @a.CreatedAt</span>
    </div>
}