@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table>
    <tr>
        <td>
            @Html.ActionLink("Contact us redirect","redirect","Home")
        </td>
    </tr>
</table>
